@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Eventos do Usuário";
    var usuario = ViewBag.Usuario as PURE.Models.Usuario;
    var eventos = ViewBag.Eventos as IEnumerable<PURE.Models.Evento>;
}

<div class="container mt-5">
    <h2>Eventos do Usuário</h2>
    <div class="row">
        @{
            int counter = 1;
        }

        @foreach (var evento in eventos)
        {

            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 style="color: #33A1B8;" class="card-title"><strong>@evento.EventName</strong></h5>
                        <p class="card-text"><strong>Descrição:</strong> @evento.Description</p>
                        <p class="card-text"><strong>Local do Evento:</strong> @evento.EventLocal</p>
                        <p class="card-text"><strong>Data do Evento:</strong> @formattedDate</p>
                        <p class="card-text"><strong>Hora inicial do Evento:</strong> @evento.InitialEventTime</p>
                        <p class="card-text"><strong>Pontos do Evento:</strong> @evento.EventPoint</p>
                        <div class="form-group">
                            <label><strong>Participar?</strong></label><br />
                            <input type="checkbox" name="participar_@evento.Id" value="sim" /> Sim
                            <input type="checkbox" name="participar_@evento.Id" value="nao" /> Não
                        </div>
                        <a href="@Url.Action("EditarEventoPage", "Evento", new { id = evento.Id })" class="btn btn-primary">Editar</a>
                        <a href="@Url.Action("DeletarEvento", "Evento", new { id = evento.Id })" class="btn btn-danger">Apagar</a>
                    </div>
                </div>
            </div>
            counter++;
        }
    </div>
</div>